
<footer class="ws-section-spacing img-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-7 col-sm-12">
                <div class="footer-widget">
                    <div class="title">
                        <h3>About Us</h3>
                    </div>
                    <p>
                        Ipsum consetetur invidunt magna tempor eirmod takimata ea rebum. Sed labore sit sadipscing
                        magna. Accusam diam ipsum duo stet no diam sadipscing . Sed justo ea eos vero
                        eirmod gubergren magna.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5 col-sm-12">
                <div class="footer-widget">
                    <div class="title">
                        <h3>Useful Links</h3>
                    </div>
                    <ul class="link-widget">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Holidays</a></li>
                        <li><a href="#">Flights</a></li>
                        <li><a href="#">About US</a></li>
                        <li><a href="#">ContactUs</a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-5 col-sm-12">
                <div class="footer-widget">
                    <div class="title">
                        <h3>
                            Legal Policies
                        </h3>
                    </div>
                    <ul class="link-widget">
                        <li><a href="#">Privacy-Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Desclaimer</a></li>
                        <li><a href="#">Cookies Policy</a></li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-12">
                <div class="footer-widget">
                    <div class="title">
                        <h3>Contact Us</h3>
                    </div>
                    <ul class="link-widget">
                        <li><a href="#"><i class="fa fa-phone"></i>&nbsp;&nbsp;-877-777-3921</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>&nbsp;&nbsp;marketing@moxiholidays.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marked"></i>&nbsp;&nbsp;2108 N ST STE N SACRAMENTO CA 95816</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a id="btn-to-top" class="show"></a>
</footer>